* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #FCF8F5;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7em;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}
article{
    background-image: url(hidroginastica.png);
    padding: 10em;
    background-repeat: no-repeat;
    background-size: cover;
    border: #294B08 1em;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 5em;
    text-decoration: none; 
}
li ul nav{
    color: #11110A;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: #294B08;
}
h1{
    text-align: center;
    color: #294B08;
    /* font-size: 4em; */
    font-family: 'Ruda', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 101px;
    letter-spacing: -0.18px;
    }
h2{
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-top: 3em;
    font-size: 3em;
    line-height: 71px;
    /* identical to box height
    letter-spacing: -0.18px; */   

    color: #011811;
    }
h3{
    text-align: left;
    margin-top: 4em;
    margin-left: 3.5em;
    font-family: 'Roboto',serif;
    font-size: 2em;
}    
p{
    text-align: center;
    font-family: 'Poppins', serif;
    color: #011811;
    margin-left: 3em;
}
.button{ 
    background-color:#6AA13B;
    border: 0;
    color: #eeebeb;
    padding: 2em;
    border-radius: 0.5em;
    font-family: 'Roboto',serif;
    
    width: 10em;
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    text-decoration: none;
}
section p{
    text-align: left;
    margin-top: 1em;
    margin-left: 7em;
    font-family: 'Roboto',serif;
    color: #011811;
}
div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10em;

    align-items: center;
    text-decoration: none;
    color: #11110A;

    padding: 2em 7em;
    min-width: 6em;
    min-height: 6em;
    
}
.contato{
    display: grid;
    grid-template-columns: 8fr 8fr 8fr 8fr 8fr;
    grid-template-rows: 20vh 20vh ;
    margin-top: 3em;

    grid-area: "instagram" "whats" "yt"
                    "face"      "email";
}
.mapa{
    text-align: center;
    margin: 2em;
}
.mapa img{
    margin: 3em;
}
.mapa p{
    text-align: center;
    font-family: 'Poppins', serif;
    margin-right: 8em;
}

